
<%= render partial: "layouts/notification", locals: {reqd_class: "success"} %>

<div class="page-header">
  <h1>Listing payments</h1>
</div>

<%= render partial: "list_of_payments", locals: {payments: @payments} %>

<br />

<%= link_to 'New Payment', new_payment_path %>
